@import "https://unpkg.com/open-props/durations.min.css";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme inline {

  /* Font Variables */
  --font-inter: var(--font-inter);
  --font-space: var(--font-space-grotesk);
  --font-plus: var(--font-plus-jakarta-sans);

  /* Color Variables */
  --color-offwhite: #f4f4f4;
  --color-ink: #252422;
  --color-rose: #f9cdcd;
}

body:has(a:hover) .projects-cursor {
  opacity: 0.6;
  color:transparent
}

::selection {
  background-color: var(--color-ink);
  color: var(--color-offwhite);
}

.dark ::selection {
  background-color: var(--color-offwhite);
  color: var(--color-ink);
}

/* Hide scrollbar for Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}


