@import "https://unpkg.com/open-props/durations.min.css";
@import "tailwindcss";


@theme inline {

  /* Font Variables */
  --font-inter: var(--font-inter);
  --font-space: var(--font-space-grotesk);

  /* Color Variables */
  --color-brown: #252422;
  --color-offwhite: #f4f4f4;
  --color-rose: #f9cdcd;
}

body:has(a:hover) .projects-cursor {
  opacity: 0.6;
  color:transparent
}

.noise {
  animation: liner var(--hour) linear infinite;
}
.noise {
  --lines: 0.0025px;
  
  mask: repeating-radial-gradient(
    circle at center,
    #000,
    var(--lines),
    #000,
    0, /* transition hints make code easier to manage */
    #0000,
    calc(var(--lines) * 2),
    #0000 0 /* trailing 0 is part of the hard stop logic */
  );
}

@property --lines {
  syntax: "<length>";
  inherits: false;
  initial-value: 0.00010px;
}

@keyframes liner {
  50% {
    --lines: 0.00012px;
  }
}